.explorer__button {
    padding: 18px 25px 18px 25px;
    font-size: 17px;
    border-radius: 50px;
    color: white;
    //background: linear-gradient(to right, $colour-secondary 5%, $colour-primary 100%);
    background: linear-gradient(356deg, #9356DC 10%, #FF79DA 80%);
    background-size: 300% 100%;
    box-shadow: 4px 4px 4px #CFCFCF;
    transition: all 1s ease;
}

.explorer__button:hover {
    cursor: pointer;
    background-position: 100% 0;
    transform: scale(1.05);
}